# by sokrat

In [2]:
import pandas as pd
import numpy as np

In [3]:
service_time_servace=pd.DataFrame({'service_time':range(1,7),'probability':[0.10,0.20,0.30,0.25,0.10,0.05]})
service_time_servace['cumulative']=0
service_time_servace['start_randome']=0
service_time_servace['end_randome']=0

service_time_servace

   service_time  probability  cumulative  start_randome  end_randome
0             1         0.10           0              0            0
1             2         0.20           0              0            0
2             3         0.30           0              0            0
3             4         0.25           0              0            0
4             5         0.10           0              0            0
5             6         0.05           0              0            0

In [5]:
temp=0
st_rand=1
for i in range(len(service_time_servace)):
    service_time_servace.iloc[i,3]=st_rand+temp*100
    temp+=service_time_servace.iloc[i,1]
    service_time_servace.iloc[i,2]=temp
    service_time_servace.iloc[i,4]=service_time_servace.iloc[i,2]*100
service_time_servace.iloc[:, 3] = service_time_servace.iloc[:, 3].astype(int)
service_time_servace.iloc[:, 4] = service_time_servace.iloc[:, 4].astype(int)

service_time_servace

   service_time  probability  cumulative  start_randome  end_randome
0             1         0.10        0.10              1           10
1             2         0.20        0.30             11           30
2             3         0.30        0.60             31           60
3             4         0.25        0.85             61           85
4             5         0.10        0.95             86           95
5             6         0.05        1.00             96          100

# ------------------------------------------------------------------------------------------

In [1]:
import pandas as pd

# Define interarrival times and server times
interarrival_time = [0, 8, 6, 1, 8, 3, 8, 7, 2]
server_time = [4, 1, 4, 3, 2, 4, 5, 4, 5]

# Create a DataFrame
simulation_Table = pd.DataFrame({'interarrival_time': interarrival_time, 'server_time': server_time})
simulation_Table['time_service_begins'] = 0
simulation_Table['time_service_end'] = 0
simulation_Table['waiting_time'] = 0
simulation_Table['time_customer_in_systeam'] = 0
simulation_Table['ideal_time'] = 0

# Calculate arrival time and insert as a new column
arrival_time = [sum(interarrival_time[:i + 1]) for i in range(len(interarrival_time))]
simulation_Table.insert(1, 'arrival_time', arrival_time)

# Simulation loop
for i in range(len(simulation_Table)):
    if i == 0:
        # For the first customer
        simulation_Table.loc[i, 'time_service_end'] = simulation_Table.loc[i, 'server_time']
    else:
        # For subsequent customers
        previous_service_end = simulation_Table.loc[i - 1, 'time_service_end']
        arrival_time_current = simulation_Table.loc[i, 'arrival_time']

        if previous_service_end <= arrival_time_current:
            # Customer arrives after or exactly when the previous customer's service ends
            simulation_Table.loc[i, 'time_service_begins'] = arrival_time_current
            simulation_Table.loc[i, 'time_service_end'] = arrival_time_current + simulation_Table.loc[i, 'server_time']
        else:
            # Customer arrives before the previous customer's service ends
            simulation_Table.loc[i, 'time_service_begins'] = previous_service_end
            simulation_Table.loc[i, 'time_service_end'] = previous_service_end + simulation_Table.loc[i, 'server_time']

    # Calculate waiting time
    simulation_Table.loc[i, 'waiting_time'] = simulation_Table.loc[i, 'time_service_begins'] - simulation_Table.loc[i, 'arrival_time']

    # Calculate time the customer is in the system
    simulation_Table.loc[i, 'time_customer_in_systeam'] = simulation_Table.loc[i, 'time_service_end'] - simulation_Table.loc[i, 'arrival_time']

    # Calculate ideal time (idle time) for the server
    if i > 0:
        previous_ideal_time = simulation_Table.loc[i, 'arrival_time'] - simulation_Table.loc[i - 1, 'time_service_end']
        simulation_Table.loc[i, 'ideal_time'] = max(0, previous_ideal_time)
    w_c=sum(simulation_Table[ 'waiting_time'])
    
simulation_Table

,interarrival_time,arrival_time,server_time,time_service_begins,time_service_end,waiting_time,time_customer_in_systeam,ideal_time
0,0,0,4,0,4,0,4,0
1,8,8,1,8,9,0,1,4
2,6,14,4,14,18,0,4,5
3,1,15,3,18,21,3,6,0
4,8,23,2,23,25,0,2,2
5,3,26,4,26,30,0,4,1
6,8,34,5,34,39,0,5,4
7,7,41,4,41,45,0,4,2
8,2,43,5,45,50,2,7,0